@@oneCreateFormDescription@@
	private VisualElement Create@@formName@@()
	{
		@@formCreation@@
	}
==========
@@oneOnButtonClickedDescription@@
	void On@@buttonName@@Clicked()
	{
		Screen.Content = Create@@toFormName@@();
	}
==========
@@oneVariableDeclaration@@
	public static @@variableType@@ @@variableName@@ {get; set;}
==========
@@oneCompileInclude@@
    <Compile Include="@@fileName@@.cs" />
==========