#pragma once

#include <QBrush>
#include <QPainter>

#include "../../../qrgui/umllib/elementImpl.h"
#include "../../../qrgui/umllib/uml_element.h"
#include "../../../qrgui/umllib/elementRepoInterface.h"
#include "../../../qrgui/umllib/elementTitleHelpers.h"

namespace UML {

@@NodesList@@

@@EdgesList@@

}

