*~
*.autosave
*.a
*.moc
*.o
*.obj
*.orig
*.rej
*.so
.#*
*.*#
moc_*.cpp
ui_*.h
qrc_*.cpp
Thumbs.db
Makefile*
*.pro.user*
bin/*
*.sdf
*.Debug
*.Release
*.prf
usabilityFiles/*
**/.build/*
**/uic_wrapper.sh

# Generated editors
**/generated/elements.h
**/generated/pluginInterface.h
**/generated/pluginInterface.cpp
**/generated/ports.h
plugin.qrc

# Doxygen
**/doxygen/html/*

# Visual Paradigm temporaries
umlDocumentation/*\~*

# Installers temporary data
**/ru.qreal.root*/data/*
.*.swp
thirdparty/**/lib*.dylib
.qmake.stash
