buildScripts/vera++/params
.qmake.cache
*~
*.autosave
*.a
*.moc
*.o
*.obj
*.orig
*.rej
*.so
.#*
*.*#
moc_*.cpp
ui_*.h
qrc_*.cpp
Thumbs.db
Makefile*
*.pro.user*
bin/*
*.sdf
*.Debug
*.Release
*.prf
usabilityFiles/*
**/.build/*
**/uic_wrapper.sh

# Generated editors
**/generated/elements.h
**/generated/pluginInterface.h
**/generated/pluginInterface.cpp
**/generated/ports.h
plugin.qrc

# Doxygen
**/doxygen/html/*

# Visual Paradigm temporaries
umlDocumentation/*\~*

# Installers temporary data
**/ru.qreal.root*/data/*
.*.swp
thirdparty/**/lib*.dylib
.qmake.stash
/installer/trik-studio-online-linux-gnu64-installer
/installer/trik-studio-offline-linux-gnu64-installer
/installer/packages/*/ru.qreal.root*/meta/*-license.txt
/installer/packages/qreal-base/ru.qreal.root/meta/ApacheLicense-v2.0.txt
/installer/packages/qreal-base/ru.qreal.root/meta/OFL.txt
/installer/packages/qreal-base/ru.qreal.root/meta/QScintilla-GPL-exception.txt
/installer/packages/qreal-base/ru.qreal.root/meta/gpl-3.0.txt
/installer/packages/qreal-base/ru.qreal.root/meta/DejaVu_Fonts_License.txt
/installer/misc/trik-studio-offline-linux-gnu64-installer
/installer/trik-studio-offline-mac-installer.app/
/installer/trik-studio-online-mac-installer.app/
/installer/trik-studio-repository/
