language: cpp
compiler: gcc
install:
  - sudo add-apt-repository ppa:canonical-qt5-edgers/qt5-proper -y
  - sudo add-apt-repository ppa:ubuntu-sdk-team/ppa -y
  - sudo apt-get update
  - sudo apt-get install qt-sdk libqt5svg5-dev qttools5-dev qtscript5-dev -y

script:
  - qmake qreal.pro
  - make -j2
  - qmake qrealRobots.pro
  - make -j2
  - qmake qrealBP.pro
  - make -j2
  - git clean -dfx
  - qmake qrealTest.pro CONFIG+=debug
  - make 
  - cd ./bin
  - ls -A
  - ./exampleTests
  - ./qrgui_unttests
  - ./qrrepo_unittests
  - ./qrutils_unittests
  - ./visualDebugSupport_unittests

notifications:
  email:
    recipients:
      - qreal-build-reports@googlegroups.com
