compiler:
  - gcc

env: CONFIG=release   VERA=false  PROJECT=qrealRobots TESTS=true

cache: ccache

addons:
  apt:
    update: true
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - python-pip

matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
      services: docker
      name: "Linux release"
    - os: linux
      dist: trusty
      sudo: required
      services: docker
      env: CONFIG=debug  VERA=true PROJECT=qrealRobotsTests TESTS="./robots_kitBase_unittests-d && ./robots_interpreterCore_unittests-d && ./robots_twoDModel_unittests-d && ./trik-v62-qts-generator-tests-d && ./robots_utils_unittests-d && ./run-simulator-tests.sh"
      name: "Linux debug + vera + tests"
    - os: osx
      osx_image: 9.latest
      name: "macOS release"
    - os: osx
      osx_image: 9.latest
      name: "macOS debug + tests"
      env: CONFIG=debug  VERA=false PROJECT=qrealRobotsTests TESTS="./robots_kitBase_unittests-d && ./robots_interpreterCore_unittests-d && ./robots_twoDModel_unittests-d && ./trik-v62-qts-generator-tests-d && ./robots_utils_unittests-d && ./run-simulator-tests.sh"
git:
  depth: 1

language: cpp


install:
  - ./.travis/install.sh

script:
  - ./.travis/script.sh

after_script:
  - ./.travis/after_script.sh

after_success:
  - if [ "$CONFIG" = "debug" ]; then codecov; fi
