language: cpp
compiler:
  - gcc
  - clang
# Change this to your needs
install:
  - sudo apt-get update
  - sudo apt-get install libqt4-dev qt4-qmake

script:
  - qmake -project
  - qmake hello.pro
  - make
