language: cpp
compiler: gcc

env:
  - CONFIG=debug   PROJECT=qreal           VERA=true  TESTS=true
  - CONFIG=release PROJECT=qreal           VERA=false TESTS=true
  - CONFIG=debug   PROJECT=qrealRobots     VERA=false TESTS=true
  - CONFIG=release PROJECT=qrealRobots     VERA=false TESTS=true
  - CONFIG=debug   PROJECT=qrealBP         VERA=false TESTS=true
  - CONFIG=release PROJECT=qrealBP         VERA=false TESTS=true
  - CONFIG=debug   PROJECT=qrealTest       VERA=false TESTS="./exampleTests && ./qrgui_unittests && ./qrrepo_unittests && ./qrutils_unittests && ./visualDebugSupport_unittests"
  - CONFIG=release PROJECT=qrealTest       VERA=false TESTS="./exampleTests && ./qrgui_unittests && ./qrrepo_unittests && ./qrutils_unittests && ./visualDebugSupport_unittests"
  - CONFIG=debug   PROJECT=qrealRobotsTest VERA=false TESTS="./robots_interpreterBase_unittests && ./robots_interpreterCore_unittests"

install:
  - if [ "$CXX" = "g++" ]; then sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y; fi
  - if [ "$CXX" = "g++" ]; then sudo apt-get update -qq; fi
  - if [ "$CXX" = "g++" ]; then sudo apt-get install g++-4.8; fi
  - if [ "$CXX" = "g++" ]; then sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-4.8 50; fi
  - if [ "$CXX" = "g++" ]; then sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.8 50; fi
  - sudo add-apt-repository "deb http://archive.ubuntu.com/ubuntu trusty universe"
  - sudo add-apt-repository "deb http://archive.ubuntu.com/ubuntu trusty main"
  - sudo add-apt-repository ppa:canonical-qt5-edgers/qt5-beta2 -y
  - sudo add-apt-repository ppa:smspillaz/verapp-latest -y
  - sudo apt-get update
  - sudo apt-get install libboost-system1.49.0 libboost-wave1.49.0 tcl8.5
  - sudo apt-get install vera++
  - sudo apt-get install qdbus qmlscene qt5-default qt5-qmake qtbase5-dev-tools qtchooser qtdeclarative5-dev xbitmaps xterm libqt5svg5-dev qttools5-dev qtscript5-dev -y
  - sudo apt-get install xvfb
  - Xvfb :0 &
  - export DISPLAY=:0

script:
  - gcc --version
  - qmake --version
  - if [ "$VERA" = "true" ]; then tclsh buildScripts/vera++/generatePaths.tcl; fi
  - if [ "$VERA" = "true" ]; then vera++ --error -p allRules --root buildScripts/vera++ <buildScripts/vera++/params; fi
  - qmake $PROJECT.pro CONFIG+=$CONFIG
  - make -j2
  - cd ./bin
  - ls -A
  - sh -c "$TESTS"

notifications:
  email:
    recipients:
      - qreal-build-reports@googlegroups.com
