language: cpp
compiler: gcc

env:
  - CONFIG=debug   PROJECT=qrealGuiTest    	 VERA=true 	TESTS="./qRealGuiTests-d"

install:
  - if [ "$CXX" = "g++" ]; then sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y; fi
  - if [ "$CXX" = "g++" ]; then sudo apt-get update -qq; fi
  - if [ "$CXX" = "g++" ]; then sudo apt-get install g++-4.9; fi
  - if [ "$CXX" = "g++" ]; then sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-4.9 50; fi
  - if [ "$CXX" = "g++" ]; then sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.9 50; fi
  - sudo add-apt-repository "deb http://archive.ubuntu.com/ubuntu trusty universe"
  - sudo add-apt-repository "deb http://archive.ubuntu.com/ubuntu trusty main"
  - sudo add-apt-repository "deb http://ppa.launchpad.net/beineri/opt-qt55-trusty/ubuntu trusty main"
  - sudo add-apt-repository ppa:smspillaz/verapp-latest -y
  - sudo apt-get update
  - sudo apt-get install libboost-system-dev libboost-wave-dev tcl
  - sudo apt-get install vera++
  - sudo apt-get -f install libpango-1.0-0 qt55base qt55svg qt55script libgl1-mesa-dev -y
  - sudo apt-get install xfonts-100dpi xfonts-75dpi xfonts-scalable xfonts-cyrillic
  - . /opt/qt55/bin/qt55-env.sh
  - sudo apt-get install xvfb
  - Xvfb :0 -ac -screen 0 1366x768x16 &
  - export DISPLAY=:0

script:
  - gcc --version
  - qmake --version
  - if [ "$VERA" = "true" ]; then tclsh buildScripts/vera++/generatePaths.tcl; fi
  - if [ "$VERA" = "true" ]; then vera++ --error -p allRules --root buildScripts/vera++ <buildScripts/vera++/params; fi
  - qmake $PROJECT.pro CONFIG+=$CONFIG
  - make -j2
  - cd ./bin/$CONFIG
  - ls -A
  - sh -c "$TESTS"

notifications:
  email:
    recipients:
      - nikolskiy.kirill.andreevich@gmail.com