<cruisecontrol xmlns:cb="urn:ccnet.config.builder">
	<project>
		<name>Qt Gcc</name>
		
		<triggers>
			<intervalTrigger seconds="60" initialSeconds="30"/>
		</triggers>
		<webURL/>
		<sourceControlErrorHandling>ReportOnRetryAmount</sourceControlErrorHandling>
		
		<workingDirectory>C:\Projects\QtGcc</workingDirectory>
		<artifactDirectory>C:\Projects\QtGcc\artifacts</artifactDirectory>
		
		<labeller type="svnRevisionLabeller">
			<major>1</major>
			<minor>0</minor>
			<svnOptions>
				<url>http://unreal.tepkom.ru/svn/unreal/unreal/trunk</url>
			</svnOptions>
		</labeller>
		
		<sourcecontrol type="svn">
			<trunkUrl>http://unreal.tepkom.ru/svn/unreal/unreal/trunk</trunkUrl>
			<workingDirectory>C:\Projects\QtGcc\unreal\</workingDirectory>
			<executable>C:\Program Files\SlikSvn\bin\svn.exe</executable>
			<cleanCopy>true</cleanCopy>
			<revert>true</revert>
			<autoGetSource>true</autoGetSource>
			<issueUrlBuilder type="defaultIssueTracker">
				<url>http://unreal.tepkom.ru/trac/ticket/{0}</url>
			</issueUrlBuilder>
		</sourcecontrol>
			
		<state type="state" directory="C:\Projects\QtGcc" />
		
		<tasks>
			<replaceVersionMultiple>
					<targetFiles>
						C:\Projects\QtGcc\unreal\installer\setup.nsi
					</targetFiles>
			</replaceVersionMultiple>
			<exec>
				<executable>C:\Projects\QtGcc\build.bat</executable>
				<buildTimeoutSeconds>1800</buildTimeoutSeconds>
			</exec>
			<exec>
				<executable>C:\Program Files\NSIS\makensis.exe</executable>
				<baseDirectory>C:\Projects\QtGcc\unreal\installer\</baseDirectory>
				<buildArgs>/Onsis_out.txt setup.nsi</buildArgs>
			</exec>
		</tasks>
		<publishers>
			<xmllogger />
			<artifactcleanup cleanUpMethod="DeleteBuildsOlderThanXDays" cleanUpValue="7"/>
			<email from="qreal.builder@gmail.com" mailhost="smtp.gmail.com" mailport="587" includeDetails="true"
            mailhostUsername="qreal.builder@gmail.com" mailhostPassword="WorldDomination" useSSL="true" >
				<users>
					<user name="developers-list" group="developers" address="qreal-dev@googlegroups.com"/>
				</users>
				<groups>
					<group name="developers" >
						<notifications>
							<notificationType>Always</notificationType>
						</notifications>
					</group>
				</groups>
			</email>
			
			<buildpublisher>
				<sourceDir>C:\Projects\QtGcc\unreal\installer\bin\</sourceDir>
				<publishDir>C:\Builds\QtGcc</publishDir>
			</buildpublisher>
<!--		
			<exec>
				<executable>C:\Projects\QtGcc\clean.bat</executable>
			</exec>
-->
		</publishers>
	</project>
</cruisecontrol>