pathToLogs=./../resources/logs/
pathToImages=./../resources/images/iconset1/
pathToHelp=./../resources/help/
pathToTranslations=./../resources/translations/
pathToTrikRuntime=./../resources/trikRuntime/
pathToGeneratorRoot=./../resources/
pathToExamples=./../resources/examples/
pathToEditorPlugins=./../lib/plugins/editors/
pathToToolPlugins=./../lib/plugins/tools/
pathToKitPlugins=./../lib/plugins/tools/kitPlugins/
