pathToLogs=./../Resources/logs/
pathToImages=./../Resources/images/iconset1/
pathToHelp=./../Resources/help/
pathToTranslations=./../Resources/translations/
pathToTrikRuntime=./../Resources/trikRuntime/
pathToGeneratorRoot=./../Resources/
pathToExamples=./../../../examples/
pathToEditorPlugins=./../Lib/plugins/editors/
pathToToolPlugins=./../Lib/plugins/tools/
pathToKitPlugins=./../Lib/plugins/tools/kitPlugins/
pathToUpdater=./../../../maintenance.app/Contents/MacOS/maintenance
