#pragma once

#include <QBrush>
#include <QPainter>

#include "../../../qrgui/editorPluginInterface/elementImpl.h"
#include "../../../qrgui/editorPluginInterface/elementTitleHelpers.h"
#include "../../../qrgui/editorPluginInterface/elementRepoInterface.h"
#include "../../../qrgui/umllib/element.h"

@@NodesList@@

@@EdgesList@@


