TEMPLATE = subdirs                                   

INCLUDEPATH += ../../../qrgui \
#               ../../../qrgui/editorPluginInterface \
		../../../qrgui/plugins/editorPluginInterface \

SUBDIRS	= \
@@Subdirs@@
