QREAL_EDITOR_NAME = "@@MetamodelName@@"

SOURCES += pluginInterface.cpp

HEADERS += pluginInterface.h \
	elements.h

RESOURCES += plugin.qrc

ROOT = @@PathToSources@@
DESTINATION = @@Destination@@
include (@@PathToSources@@plugins/editorsSdk/pluginsCommon.pri)
                        
