@@eachFrameSwitchBody@@
	case: @@frameName@@
		string screenFlowTo = "";
		switch (screenFlowTo)
		{
@@caseForConnectedFrame@@
		}
		break;
==========
@@outconnectedFrameCase@@
			case @@rightHandFrameName@@:
				curState = @@rightHandFrameName@@;
				break;
==========
@@codeArea@@
	@@inlineCode@@
==========
@@Terminate@@

==========
@@EndState@@
	curState=@@StateName@@;
==========